<table>
    <tr>
      <td colspan="5">
        <h3>Order Items:</h3>
      </td>
    </tr>
    <tr *ngFor="let item of order.items">
      <td>
        <a routerLink="/book/{{item.book.id}}">
          <img [src]="item.book.imageUrl"/>
        </a>
      </td>
      <td>
        {{item.book.title}}
      </td>
      <td class="quantity">
        {{item.quantity}}
      </td>
      <td class="price">
        {{item.price}} lv
      </td>
    </tr>
    <tr>
      <td colspan="3"></td>
      <td>
        <strong>
          Total :
        </strong>
      </td>
      <td>
        <strong>
          {{order.totalPrice}} lv
        </strong>
      </td>
    </tr>
  </table>
