<app-search></app-search>
<app-tags></app-tags>
<app-not-found [visible]="!books" resetLinkText="Reset search"></app-not-found>
<ul>
    <li *ngFor="let book of books">
        <a routerLink="/book/{{book.id}}">
            <img src="{{book.imageUrl}}" alt="">
            <div class="content">
                <div class="title">
                   {{book.title}}
                </div>
                <div class="author">
                    {{book.author}}
                </div>
                <div class="book-footer">
                    <div class="genre">
                        {{book.genre}}
                    </div>
                </div>
                <div class="price">
                    <span>
                        {{book.price}} lv.
                    </span>
                </div>
            </div>
        </a>
    </li>
</ul>