<app-not-found [visible]="!book" notFoundMessage="Book not found!" resetLinkText="Home page"></app-not-found>
<div *ngIf="book" class=container>
    <img [src]="book.imageUrl" [alt]="book.title">

    <div class="details">
        <div class="header">
            <span class="title">
                {{book.title}}
            </span>
        </div>
        <div class="author">
            {{book.author}}
        </div>
        <div class="description">
            {{book.description}}
        </div>
        <div class="tags">
            <app-tags [bookDetailsTags]="book.tags" justifyContent="start"></app-tags>
        </div>
        <div class="price">
            {{book.price}} lv
        </div>

        <button (click)="addToCart()">Add to Cart</button>
    </div>
</div>
